@inject IStringLocalizer<HotelReservation.Web.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["PrivacyPolicy"];
}

<h1>@ViewData["Title"]</h1>

<p>@Localizer["PrivacyPolicyIntro"]</p>

<h3>@Localizer["DataCollection"]</h3>
<p>@Localizer["DataCollectionDesc"]</p>
<ul>
    <li>@Localizer["NameAndContact"]</li>
    <li>@Localizer["EmailAddress"]</li>
    <li>@Localizer["PhoneNumber"]</li>
    <li>@Localizer["ReservationDetails"]</li>
</ul>

<h3>@Localizer["DataUsage"]</h3>
<p>@Localizer["DataUsageDesc"]</p>

<h3>@Localizer["Contact"]</h3>
<p>@Localizer["ContactDesc"]</p>

